{% extends "archive/skeleton-base.html" %}

{% block page_title %}  List of authors for user: {{user.username}} {% endblock %}

{% block message %}{{message}}{% endblock %}

{% block page_content_title %}Liste de mes auteurs{% endblock %}

{% block page_content_menu %}
<ul>
   <li><a href="/archive/author-add">+Auteur</a></li>
 </ul>
{% endblock %}
{% block page_content %}
{% if my_authors %}
    <ul>
    {% for author in my_authors %}
    <li><a href="/archive/author/{{author.pk}}">{{ author.name }}</a> {% if author.contact %}({{ author.contact }}) {% endif %}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No authors found for user {{username}}.</p>
{% endif %}
{% endblock %}
