{% extends "archive/skeleton-base.html" %}

{% block page_title %}  RPG Archive [{{user.username}}] -- Details for game cycle {{cycle}}{% endblock %}

{% block message %}{{message}}{% endblock %}

{% block page_content_title %}Détail de partie{% endblock %}

{% block page_content_menu %}
<ul>
   <li><a href="/archive/cycle-add">+cycle</a></li>
   <li><a href="/archive/cycle-del/{{cycle.pk}}">supprimer</a></li>
   <li><a href="/archive/cycle-mod/{{cycle.pk}}">modifier</a></li>
   <li><a href="/archive/cycle-add-session/{{cycle.pk}}">+session</a></li>
</ul>
{% endblock %}
{% block page_content %}
<p>Partie: {{cycle.codename}} ({{cycle.state}})</p>
<p> Scénario: <a href="/archive/scenario/{{cycle.scenario.pk}}">{{cycle.scenario.title}}</a><p>
<p> Sessions:
  {% if my_session_list %}
    <ul>
    {% for session in my_session_list %}
      <li>
        (<a href="/archive/session/{{session.pk}}">{{ session.pk }}</a>)
        {{session.date}}
        [[ {{ session.players_string }} ]]
      </li>
    {% endfor %}
    </ul>
    {% else %}
    Aucune session enregistrée pour ce cycle
    {% endif %}
</p>

<p>Commentaires: {{cycle.comments}}</p>

{% endblock %}
