{% extends "archive/skeleton-base.html" %}

{% block page_title %}  RPG Archive [{{user.username}}] -- Details for game cycle {{cycle}}{% endblock %}

{% block page_content %}
<p class="title">Detail view for game cycle: {{cycle.codename}}</p>
<p> scenario: <a href="/archive/scenario/{{cycle.scenario.pk}}">{{cycle.scenario.title}}</a><p>
{% if my_session_list %}
<p> Sessions:
    <ul>
    {% for session in my_session_list %}
      <li>
        (<a href="/archive/session/{{session.pk}}">{{ session.pk }}</a>)
        {{session.date}}
        [[ {{ session.players_string }} ]]
      </li>
    {% endfor %}
    </ul>
</p>
{% else %}
    <p>No rpg archive detected for user {{username}}.</p>
{% endif %}
{% endblock %}
