{% extends "archive/skeleton-base.html" %}

{% block page_title %}  List of players for user: {{user.username}} {% endblock %}

{% block message %}{{message}}{% endblock %}

{% block page_content_title %}Détail joueur{% endblock %}

{% block page_content_menu %}
<ul>
   <li><a href="/archive/player-add">+Joueur</a></li>
   <li><a href="/archive/player-del/{{player.pk}}">Supprimer</a></li>
   <li><a href="/archive/player-mod/{{player.pk}}">Modifier</a></li>
</ul>
{% endblock %}

{% block page_content %}
  <ul>
    <li>Surnom: {{player.nickName}}</li>
    <li>Nom: {%if player.name%}{{player.name}}{%else%}-{%endif%}</li>
    <li>Prénom: {%if player.forename%}{{player.forename}}{%else%}-{%endif%}</li>
    <li>email: {%if player.email%}{{player.email}}{%else%}-{%endif%}</li>
    {%if player.linked_user%}
    <li>Utilisateur lié: {{player.linked_user}}</li>
    {% endif %}
  </ul>
{% endblock %}
