{% extends "archive/skeleton-base.html" %}

{% block page_title %}  List of players for user: {{user.username}} {% endblock %}

{% block page_content %}
<p>Hello {{user.username}}, here are details about your registered player:
  <ul>
    <li>NickName: {{player.nickName}}</li>
    <li>Name: {{player.name}}</li>
    <li>ForeName: {{player.forename}}</li>
    <li>email: {{player.email}}</li>
    {%if player.linked_user%}
    <li>Linked user: {{player.linked_user}}</li>
    {% endif %}
  </ul>
</p>
{% endblock %}
