{% extends "archive/skeleton-base.html" %}

{% block page_title %}  List of scenarii for user: {{user.username}} {% endblock %}

{% block page_content_title %}Liste de mes scénars{% endblock %}

{% block page_content %}
{% if my_scenarii %}
    <ul>
    {% for scenario in my_scenarii %}
    <li><a href="/archive/scenario/{{scenario.pk}}">{{scenario.title}} ({{scenario.universe.name}})</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No scenarii found for user {{username}}.</p>
{% endif %}
{% endblock %}
