{% extends "archive/skeleton-base.html" %}

{% block page_title %}  List of sessions for user: {{user.username}} {% endblock %}

{% block page_content_title %}Liste de mes sessions{% endblock %}

{% block page_content %}
{% if my_list_of_sessions %}
    <ul>
    {% for session in my_list_of_sessions %}
    {% with cycle=session.getRelatedCycle %}
    <li>
      (<a href="/archive/session/{{session.pk}}">{{ session.pk }}</a>)
      {{session.date}}
      ( {{ session.players_string }} )
      [[ {{cycle.codename}} -- {{cycle.scenario.title}} ]]
    </li>
    {% endwith %}
    {% endfor %}
    </ul>
{% else %}
    <p>No authors found for user {{username}}.</p>
{% endif %}
{% endblock %}
