{% extends "archive/skeleton-base.html" %}

{% block page_title %}  List of sessions for user: {{user.username}} {% endblock %}

{% block message %}{{message}}{% endblock %}

{% block page_content_title %}Liste de mes sessions{% endblock %}

{% block page_content_menu %}
<ul>
   <li><a href="/archive/cycle-add">+cycle</a></li>
</ul>
{% endblock %}
{% block page_content %}
{% if my_sessions %}
    <ul>
    {% for session in my_sessions %}
    {% with cycle=session.getRelatedCycle %}
    <li>
      <a href="/archive/session/{{session.pk}}">({{ session.pk }}){{session}}</a>
      {{session.date}}
      ( {{ session.players_string }} )
      [[ {{cycle.codename}} -- {{cycle.scenario.title}} ]]
    </li>
    {% endwith %}
    {% endfor %}
    </ul>
{% else %}
    <p>No sessions found for user {{username}}.</p>
{% endif %}
{% endblock %}
