{% extends "archive/skeleton-base.html" %}

{% block page_title %}
RPG Archive [{{user.username}}] -- Details for game session {{session}}
{% endblock %}

{% block message %}{{message}}{% endblock %}

{% block page_content_title %}Détail de session{% endblock %}

{% block page_content_menu %}
<ul>
   <li><a href="/archive/cycle-add">+cycle</a></li>
   {% if session.isLast%}
   <li><a href="/archive/session-add/{{session.pk}}">+session(suite)</a></li>
   {% endif %}
   <li><a href="/archive/session-del/{{session.pk}}">Supprimer</a></li>
   <li><a href="/archive/session-mod/{{session.pk}}">Modifier</a></li>
</ul>
{% endblock %}

{% block page_content %}
{% with cycle=session.getRelatedCycle %}
<p> Partie: <a href="/archive/cycle/{{cycle.pk}}">{{cycle.codename}}</a> (session n°{{session.number_in_cycle}}) </p>
<p> Scénario: <a href="/archive/scenario/{{cycle.scenario.pk}}">{{cycle.scenario.title}}</a> <p>
<p> Date: {{session.date}} </p>
<p> Joueurs:
  <ul>
    {% for p in session.players.all %}
    <li><a href="/archive/player/{{p.pk}}">{{p.nickName}}</li>
    {% endfor %}
  </ul>
</p>
{% endwith %}
{% endblock %}
