<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'archive/style.css' %}">
    <title>{% block page_title %}RPG Archive base page{% endblock %}</title>
</head>

<body>

    <div id="banner-top">
      <div id="banner-top-left">USER < {{user.username}} ></div>
      <div id="banner-top-right"><a href="/archive/logout">logout</a></div>
    </div>

    <div id="page-content-container">
      <div id="page-sidebar">
        <ul>
          <li><a href="/archive">Games</a></li>
          <li><a href="/archive/player">Players</a></li>
          <li><a href="/archive/scenario">Scenarii</a></li>
          <li><a href="/archive/universe">Universes</a></li>
        </ul>
      </div>

      <div id="page-content">
          {% block page_content %}{% endblock %}
      </div>
    </div>

</body>
</html>
