<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'archive/style.css' %}">
    <title>{% block page_title %}RPG Archive base page{% endblock %}</title>
</head>

<body>

    <div id="banner-top">
      <div id="banner-top-left">USER < {{user.username}} ></div>
      <div id="banner-top-center">{% block message %} {% endblock %}</div>
      <div id="banner-top-right"><a href="/archive/logout">logout</a></div>
    </div>

    <div id="page-content-container">
      <div id="page-sidebar">
        <div id="page-global-menu">
          <ul>
            <li><a href="/archive/cycle">Parties</a></li>
            <li><a href="/archive/sessions">Sessions</a></li>
            <li><a href="/archive/player">Joueurs</a></li>
            <li><a href="/archive/scenario">Scénars</a></li>
            <li><a href="/archive/authors">Auteurs</a></li>
            <li><a href="/archive/universe">Univers</a></li>
          </ul>
        </div>
        <div id="page-content-menu">
          {% block page_content_menu %}{% endblock %}
        </div>
      </div>
      <div id="page-content-title">
        {% block page_content_title %}{% endblock %}
      </div>
      <div id="page-content">
        {% block page_content %}{% endblock %}
      </div>
    </div>

</body>
</html>
