#banner-top {
/*  position: absolute; */
margin: auto;
  width:95%;
  overflow: auto;
  align:center;

  border: 1px solid DarkGreen;
  outline-style: double;
  outline-color: Green;
  background-color: Green;
  color : white;
}
#banner-top-left {
  float: left;
  width:20%;
  padding 10px;
  align:left;
  text-align:left;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#banner-top-center {
  float: left;
  width:60%;
  padding 10px;
  align:left;
  text-align:left;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color:yellowGreen;
}
#banner-top-right {
  /* margin: auto; */
  float: right;
  width:15%;
  padding 10px;
  align:right;
  text-align:right;
  text-transform: uppercase;
  /* font-size:60%; */
  font-style: normal;
  font-family: "Arial", Arial, Sans-serif;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#banner-top-right a {
  color: white;
  text-decoration: none;
}



#page-content-container {
  margin: auto;
  position: relative;  top: 10px; /* shifts the whole block down */
  width:90%;
}

#page-sidebar {
  float: left;
  width:15%;
  padding: 2px;
  border: 1px solid DarkGreen;
  outline-style: double;
  outline-color: Green;
  background-color: Green;
  color : white;
}
#page-sidebar li {
  list-style-type: none;
}
#page-sidebar a {
  color: white;
  text-decoration: none;
}
#page-content-menu li {
  background-color: yellowGreen;
  color: DarkGreen;
  text-shadow: 3px 3px Green;
   /* line-height:2; */
}
#page-content-menu a:hover {
  /* Un peu de kitch n'a jamais tué personne, que diable !*/
  text-shadow: 1px 1px Green;
  /* text-decoration-style: wavy;
  text-decoration-line: overline underline; */
}

#page-content-title
{
  float: right;
  width:80%;
  padding: 5px;
  border: 1px solid DarkGreen;
  outline-style: double;
  outline-color: Green;
  background-color: YellowGreen;
  color : white;

  text-shadow: 1px 1px Green;
  font-style: normal;
  font-family: "Arial", Arial, Sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  /* padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px; */
}

#page-content {
  float: right;
  width:80%;
  padding: 5px;
  position: relative;  top: 10px; /* shifts the whole block down */

  border: 1px solid DarkGreen;
  outline-style: double;
  outline-color: Green;
  background-color: white;
  color : DarkGreen;
  /* align-self:center; */
}
#page-content li a {
    color: green;
}
